{% extends 'schedule/base.html' %}
{% load static %}
{% block content %}
<body class="main_page">
<div class="main_page_div">
    <h1>Welcome to our schedule portal:</h1>
    <h2>Our portal will notify you about :</h2>
    <h3><li>all future football games</li></h3>
    <h3><li>all stadium in your country</li></h3>
    <h3><li>all players in our club</li></h3>
    <a href="games" style="background-color:#4EB0B9;border-radius:3px;box-sizing:inherit;color:#fff;display:inline-block;font-size: 3rem;line-height:1.5;padding:50px 50px;text-decoration:none">Games</a>
    <a href="stadiums" style="background-color:#4EB0B9;border-radius:3px;box-sizing:inherit;color:#fff;display:inline-block;font-size: 3rem;line-height:1.5;padding:50px 50px;text-decoration:none">Stadiums</a>
    <a href="players" style="size:100px;background-color:#4EB0B9;border-radius:3px;box-sizing:inherit;color:#fff;display:inline-block;font-size: 3rem;line-height:1.5;padding:50px 50px;text-decoration:none">Players</a>

</div>
</body>
{% endblock content %}